(
    max_lightmap_size: 2048,
    lightmap_pix_per_m: 10.0,
    fake_ambient: ((0.001, 0.001, 0.001)),
    sky_color: ((0.5, 0.5, 0.8)),
    reflectivity_factor: 0.7,
    sun_diam_deg: 3.0,
    sky_box: Some("sky2"),
    spherical_harmonics: true,
    indirect_depth: 2,
    max_samples: 3000,
)