(
    max_lightmap_size: 2048,
    lightmap_pix_per_m: 8.0,
    fake_ambient: ((0.001, 0.001, 0.001)),
    sky_color: ((0.2, 0.2, 0.3)),
    sky_box: Some("sky_jupiter"),
    max_samples: 3000,
    sun_diam_deg: 1.54,
    reflectivity_factor: 0.7,
    indirect_depth: 2,
)