(
    spawn_points: [
        (
            position: ((12.287003, 10.501282, 11.945494)),
            yaw: 0.0,
        ),
        (
            position: ((-4.7129974, 2.5012817, -27.054506)),
            yaw: 0.0,
        ),
        (
            position: ((20.287003, 2.5012817, -27.054506)),
            yaw: 0.0,
        ),
        (
            position: ((20.287003, 2.5012817, 22.945494)),
            yaw: 0.0,
        ),
        (
            position: ((42.287003, 2.5012817, 22.945494)),
            yaw: 0.0,
        ),
        (
            position: ((42.287003, 2.5012817, -2.0545063)),
            yaw: 0.0,
        ),
        (
            position: ((101.287, 2.5012817, -2.0545063)),
            yaw: 0.0,
        ),
        (
            position: ((64.287, 2.5012817, -25.054506)),
            yaw: 0.0,
        ),
        (
            position: ((67.287, 15.501282, -2.0545063)),
            yaw: 0.0,
        ),
    ],
    pickup_points: [
        (
            pos: ((43.154854, 1.7181702, -30.09137)),
            item: ((115, 104, 105, 101, 108, 100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)),
            timer: (
                remaining: 0.0,
                just_finished: false,
                duration: 10.0,
                repeating: false,
            ),
        ),
        (
            pos: ((64.4951, 0.7696533, 24.230347)),
            item: ((115, 104, 105, 101, 108, 100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)),
            timer: (
                remaining: 0.0,
                just_finished: false,
                duration: 10.0,
                repeating: false,
            ),
        ),
        (
            pos: ((103.266365, 1.5064468, -2.413292)),
            item: ((115, 104, 105, 101, 108, 100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)),
            timer: (
                remaining: 0.0,
                just_finished: false,
                duration: 10.0,
                repeating: false,
            ),
        ),
        (
            pos: ((18.771019, 9.46965, -19.938637)),
            item: ((115, 104, 105, 101, 108, 100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)),
            timer: (
                remaining: 0.0,
                just_finished: false,
                duration: 10.0,
                repeating: false,
            ),
        ),
        (
            pos: ((-4.1066666, 1.5108719, 0.64331055)),
            item: ((115, 104, 105, 101, 108, 100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)),
            timer: (
                remaining: 0.0,
                just_finished: false,
                duration: 10.0,
                repeating: false,
            ),
        ),
    ],
    jump_pads: [],
    sun_def: Some((
        dir: ((-0.04046362, -0.45099577, -0.8916084)),
        color: ((0.65592474, 0.65592474, 0.65592474)),
    )),
    sky_color: ((0.5, 0.5, 0.8)),
    sky_box: Some("sky_nebula"),
    point_lights: [],
    materials: {
        ((119, 97, 108, 108, 46, 48, 48, 52, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)): (
            base_color: ((82, 111, 99, 107, 95, 48, 52, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)),
            emissive: None,
            normal_map: Some(((82, 111, 99, 107, 95, 48, 52, 95, 110, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0))),
        ),
        ((77, 97, 116, 101, 114, 105, 97, 108, 46, 48, 48, 51, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)): (
            base_color: ((35, 101, 56, 101, 56, 101, 56, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)),
            emissive: Some((
                emissive_texture: ((35, 100, 50, 99, 99, 102, 102, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)),
                emissive_strength: 1.0,
            )),
            normal_map: None,
        ),
        ((102, 108, 111, 111, 114, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)): (
            base_color: ((77, 105, 108, 97, 110, 111, 95, 80, 97, 118, 101, 109, 101, 110, 116, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)),
            emissive: None,
            normal_map: Some(((77, 105, 108, 97, 110, 111, 95, 80, 97, 118, 101, 109, 101, 110, 116, 95, 110, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0))),
        ),
        ((102, 108, 111, 111, 114, 46, 48, 48, 49, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)): (
            base_color: ((77, 105, 108, 97, 110, 111, 95, 80, 97, 118, 101, 109, 101, 110, 116, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)),
            emissive: None,
            normal_map: Some(((77, 105, 108, 97, 110, 111, 95, 80, 97, 118, 101, 109, 101, 110, 116, 95, 110, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0))),
        ),
        ((119, 97, 108, 108, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)): (
            base_color: ((82, 111, 99, 107, 95, 48, 52, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)),
            emissive: None,
            normal_map: Some(((82, 111, 99, 107, 95, 48, 52, 95, 110, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0))),
        ),
        ((100, 101, 102, 97, 117, 108, 116, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)): (
            base_color: ((35, 97, 97, 97, 97, 97, 97, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)),
            emissive: None,
            normal_map: None,
        ),
    },
)